<!-- Not so great. Elements located outside the context of `search-form` block -->
<form class="search-form">
  <!-- ... -->
</form>

<input class="search-form__input">
<button class="search-form__button">Search</button>


<!-- Better. Elements are located inside `search-form` block -->
<form class="search-form">

    <!-- `input` element in the `search-form` block -->
    <input class="search-form__input">

    <!-- `button` element in the `search-form` block -->
    <button class="search-form__button">Search</button>

</form>