<!-- Not so great. Doesn't follow the pattern: `block-name__element-name` -->
<form class="search-form">
    <div class="search-form__content">
        <input class="search-form__content__input">
        <button class="search-form__content__button">Search</button>
    </div>
</form>

<!-- Better. Follows the pattern: `block-name__element-name` -->
<form class="search-form">
    <div class="search-form__content">
        <input class="search-form__input">
        <button class="search-form__button">Search</button>
    </div>
</form>

